@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* Michroma */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inconsolata:wght@200..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* Cormorant Garamond */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* DM Sans */

:root {
    --black-zuno: #080808;
    --gray-zuno: #1A1A1A;
    --gold-zuno: #C9A84C;
    --gold-light-zuno: #E2C47A;
    --white-zuno: #F5F2ED;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-zuno);
    color: var(--white-zuno);
    position: relative;
}

strong {
    color: var(--gold-zuno);
}

/* ── HEADER ── */
header {
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-right: 40px;
    background: rgba(8, 8, 8, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(12px);
}

header img {
    width: 10%;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

header a {
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 200;
    transition: all 0.3s ease;
}

header nav ul li {
    cursor: pointer;
}

header a:hover {
    color: var(--gold-zuno);
    border-bottom: 1px solid var(--gold-zuno);
    padding-bottom: 2px;
    transition: all 0.3s ease;
}

/* ── MAIN ── */
main {
    overflow: hidden;
    padding-top: 59px;
}

/* ── HERO ── */
.banner-hero {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(73deg, #1a1a1a, #080808, #383125);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
    padding: 16px;
    height: 700px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.banner-hero .textos {
    max-width: 600px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    font-family: Cormorant Garamond;
}

.banner-hero .textos h3 {
    font-weight: 200;
    font-size: 20px;
}

.banner-hero .textos h1 {
    font-size: 60px;
    font-weight: 900;
    color: var(--gold-zuno);
}

.banner-hero .textos h2 {
    font-weight: 400;
    font-size: 30px;
}

.banner-hero a {
    width: fit-content;
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-weight: 200;
    font-size: 16px;
    border: 2px solid var(--gold-zuno);
    padding: 16px 32px;
    margin-left: 50px;
    transition: all 0.3s ease;
}

.banner-hero a:hover {
    background-color: #494130;
}

.banner-hero .bateria {
    width: 1200px;
    position: absolute;
    left: 500px;
    top: 75px;
    filter: drop-shadow(0px 10px 30px rgb(0, 0, 0));
}

/* ── ARTICLE ── */
article {
    margin: 100px;
    margin-top: 0px;
}

/* ── BRAND ── */
.brand {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    justify-content: center;
}

.brand h2 {
    font-size: 26px;
    font-family: Michroma;
    font-weight: 100;
}

/* ── PRODUTOS ── */
.produtos {
    margin-bottom: 150px;
}

.produtos h2 {
    font-size: 36px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-zuno);
    margin-bottom: 30px;
}

.produtos-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.produto-grid {
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.288);
    background-color: var(--gray-zuno);
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.produto-grid:hover {
    transform: translateY(-6px);
    border: 1px solid var(--gold-zuno);
}

.produto-grid .imagem-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    height: 250px;
}

.produto-grid img {
    width: 100%;
    filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.633));
}

.produto-grid .textos {
    font-size: 20px;
    margin-top: 20px;
}

.produto-grid .textos h3 {
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-light-zuno);
    margin-bottom: 10px;
}

.produto-grid .textos p {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.produto-grid .textos a {
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--gold-zuno);
    padding: 12px 24px;
    transition: all 0.3s ease;

}

.produto-grid .textos a:hover {
    background-color: #494130;
}

/* ── POR QUE ZUNO ── */
.pq-zuno {
    margin-bottom: 150px;
}

.pq-zuno h2 {
    font-size: 36px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-zuno);
    margin-bottom: 100px;
}

.pq-zuno-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.pq-zuno-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 280px;
}

.pq-zuno-grid h3 {
    text-align: center;
    font-size: 26px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-light-zuno);
    margin-bottom: 30px;
}

.pq-zuno-grid p {
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 300;
    text-align: justify;
}

/* ── PRODUTO EM FOCO ── */
.produto-em-foco {
    margin: auto;
    display: flex;
    margin-bottom: 150px;
    max-width: 1200px;
    height: 600px;
    border-radius: 20px;
    background-color: var(--gray-zuno);
    border: 1px solid var(--gold-zuno);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.288);
}

.produto-em-foco .imagem-container {
    min-width: 600px;
    max-width: 600px;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}

.produto-em-foco .imagem-container img {
    width: 100%;
}

.produto-em-foco .textos {
    margin: 30px;
    margin-left: 60px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto-em-foco .textos h2 {
    font-family: Michroma;
    color: var(--gold-light-zuno);
    font-size: 30px;
    margin-bottom: 20px;
}

.produto-em-foco .textos p {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: justify;
}

.produto-em-foco .textos a {
    width: fit-content;
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--gold-zuno);
    padding: 12px 24px;
    transition: all 0.3s ease;
}

.produto-em-foco .textos a:hover {
    background-color: #494130;
}

.tecnologia {
    margin-bottom: 150px;
}

.tecnologia .titulo-tecnologia h2 {
    font-size: 36px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-zuno);
}

.tecnologia .titulo-tecnologia h3 {
    font-size: 20px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--white-zuno);
    margin-bottom: 50px;
}

.tecnologia-container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.tecnologia-container .tecnologia-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    background-color: var(--gray-zuno);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.288);
    height: 600px;
    transition: all 0.3s ease;
}

.tecnologia-container .tecnologia-grid:hover {
    border: 1px solid var(--gold-zuno);
    transform: translateY(-6px);
}

.tecnologia-grid .textos {
    max-width: 500px;
}

.tecnologia-container .tecnologia-grid h3 {
    font-size: 26px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-light-zuno);
    margin-bottom: 20px;
}

.tecnologia-container .tecnologia-grid p {
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 20px;
}

.tecnologia-grid img {
    margin-bottom: 30px;
    width: 525px;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.288));
}

.depoimentos {
    margin-bottom: 150px;
}

.depoimentos h2 {
    font-size: 36px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-zuno);
    margin-bottom: 100px;
}

.depoimentos-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.depoimentos-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    background-color: var(--gray-zuno);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--gold-zuno);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.288);
}

.depoimentos-grid .usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.depoimentos-grid .usuario img {
    width: 80px;
    border-radius: 50%;
}

.depoimentos-grid .usuario h4 {
    font-size: 20px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-light-zuno);
    margin-bottom: 10px;
}

.depoimentos-grid p {
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 200;
    text-align: justify;
}

.sobre {
    margin-bottom: 150px;
    background-color: var(--gray-zuno);
    width: 100vw;
    height: 600px;
    margin-left: calc(-100px);
    padding: 60px 100px;
    position: relative;
}

.sobre .sobre-container {
    max-width: 1200px;
    display: flex;
}

.sobre .sobre-container img {
    width: 700px;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.288));
    position: absolute;
    left: 800px;
    top: -155px;
}

.sobre .sobre-container .textos {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0px 0px 70px;
}

.sobre h2 {
    font-family: Michroma;
    color: var(--gold-zuno);
    font-size: 30px;
    margin-bottom: 20px;
}

.sobre .sobre-container .textos p {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
    text-align: justify;
}

.sobre .sobre-container .textos a {
    width: fit-content;
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--gold-zuno);
    padding: 12px 24px;
    transition: all 0.3s ease;
}

.sobre-container .textos a:hover {
    background-color: #494130;
}

.cta-final {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(73deg, #1a1a1a, #080808, #383125);
    background-size: 110% 110%;
    animation: gradient-animation 10s ease infinite;
    padding: 16px;
}

.cta-final h2 {
    font-size: 36px;
    font-family: Michroma;
    font-weight: 100;
    color: var(--gold-zuno);
    margin-bottom: 30px;
}

.cta-final p {
    font-size: 20px;
    font-family: DM Sans;
    font-weight: 300;
    text-align: center;
}

.cta-final a {
    margin-top: 30px;
    width: fit-content;
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid var(--gold-zuno);
    padding: 12px 24px;
    transition: all 0.3s ease;
}

.cta-final a:hover {
    background-color: #494130;
}

/* ── FOOTER ── */
footer {
    background-color: #171717;
    padding: 40px 80px 40px 20px;
    display: flex;
    flex-direction: column;
}

footer .footer-conteudo {
    display: flex;
    justify-content: space-between;
}

footer .footer-social {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

footer .footer-social .media-icons {
    display: flex;
    gap: 10px;
    font-size: 30px;
}

footer .footer-social .media-icons a {
    text-decoration: none;
    color: var(--white-zuno);
    transition: all 0.3s ease;
}

footer .footer-social .media-icons a:hover {
    color: var(--gold-zuno);
    transform: translateY(-5px);
}

footer .footer-social img {
    width: 150px;
    margin-bottom: 30px;
}

footer .footer-colunas ul li {
    list-style-type: none;
    margin-bottom: 8px;
}

footer .footer-colunas ul li a {
    text-decoration: none;
    color: var(--white-zuno);
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    transition: all 0.3s ease;
}

footer .footer-colunas ul li a:hover {
    color: var(--gold-zuno);
    text-decoration: underline;
}

footer .footer-copyright {
    border-top: 1px solid rgba(201, 168, 76, 0.3);
    padding-top: 20px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

@media (min-width: 1400px) {
    .banner-hero .bateria {
        left: unset;
        right: -100px;
    }

    .sobre .sobre-container img {
        left: unset;
        right: 60px;
    }
}

@media (max-width: 1300px) {
    .banner-hero .textos {
        max-width: 500px;
    }

    .banner-hero .bateria {
        left: 350px;
    }

    .produtos-container {
        gap: 50px;
    }

    .produto-grid {
        height: 370px;
    }

    .produto-grid .imagem-produto {
        height: 180px;
    }
}

@media (max-width: 1275px) {
    .tecnologia-container .tecnologia-grid {
        width: 400px;
        height: 600px;
    }

    .tecnologia-container .tecnologia-grid img {
        width: 100%;
        ;
    }

    .sobre .sobre-container img {
        left: 700px;
    }
}

@media (max-width: 1160px) {
    .banner-hero .bateria {
        left: 300px;
    }

    .produto-em-foco {
        height: 500px;
    }

    .produto-em-foco .imagem-container {
        width: 500px;
    }

    .produto-em-foco .textos {
        max-width: 200px;
        margin: 30px;
    }

    .produto-em-foco .textos h2 {
        font-size: 24px;
    }

    .produto-em-foco .textos p {
        font-size: 18px;
    }

    .tecnologia-container .tecnologia-grid {
        width: 300px;
        height: 500px;
    }

    .tecnologia-container .tecnologia-grid p {
        font-size: 18px;
    }

    .tecnologia-container .tecnologia-grid img {
        width: 100%;
        ;
    }

    .depoimentos .depoimentos-container {
        gap: 30px;
    }

    .sobre .sobre-container img {
        left: 600px;
    }

    .sobre .sobre-container .textos {
        margin: 0px;
    }
}

@media (max-width: 1100px) {
    .produtos-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .produtos-container .produto-grid {
        width: 400px;
        height: auto;
    }

    .produtos-container .produto-grid .imagem-produto {
        height: 300px;
    }

    .pq-zuno-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .pq-zuno-grid {
        max-width: 600px;
    }

    .produto-em-foco {
        flex-direction: column;
        height: auto;
    }

    .produto-em-foco .imagem-container {
        width: 100%;
        min-width: unset;
        max-width: unset;
        height: 350px;
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
    }

    .produto-em-foco .imagem-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .produto-em-foco .textos {
        margin: 30px;
        max-width: 100%;
    }
}

@media (max-width: 1050px) {
    .banner-hero {
        height: 900px;
        justify-content: center;
        align-items: center;
    }

    .banner-hero .textos {
        margin-top: 100px;
        max-width: 600px;
        z-index: 2;
        text-shadow: #080808 1px 1px 20px;
    }

    .banner-hero .textos h1 {
        line-height: 50px;
    }

    .banner-hero a {
        margin-left: 0px;
    }

    .banner-hero .bateria {
        position: static;
        left: 100px;
        z-index: 1;
        width: 120%;
    }
    
    .sobre .sobre-container img {
        left: 500px;
    }
}


@media (max-width: 835px) {

    /* TABLET */
    article {
        margin: 30px;
        padding: 0px;
    }

    .produtos-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .produto-grid {
        height: auto;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
    }

    .produto-grid .imagem-produto {
        height: 200px;
    }

    .produto-em-foco {
        flex-direction: column;
        height: auto;
    }

    .produto-em-foco .imagem-container {
        width: 100%;
        min-width: unset;
        height: 300px;
        border-radius: 20px 20px 0px 0px;
    }

    .produto-em-foco .imagem-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .produto-em-foco .textos {
        margin: 30px;
        max-width: 100%;
    }

    .tecnologia-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .depoimentos-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sobre {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        padding: 40px 20px;
        border-radius: 10px;
    }

    .sobre-container {
        max-width: 300px;
        justify-content: center;
    }

    .sobre-container img {
        display: none;
    }

    .sobre .sobre-container .textos {
        margin: 0;
    }

    .sobre .sobre-container .textos p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    footer {
        padding: 40px 20px;
    }

    footer .footer-conteudo {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    footer .footer-social {
        width: 100%;
    }

    footer .footer-colunas ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}

@media (max-width: 441px) {
    /* MOBILE */

    p {
        font-size: 16px;
    }

    header {
        margin: auto;
        padding: 10px;
        gap: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header img {
        margin: 0px;
        width: 50%;
    }

    main {
        padding-top: 120px;
    }

    .banner-hero {
        height: 500px;
    }

    .banner-hero .textos {
        margin: auto;
        max-width: 300px;
    }

    .banner-hero img {
        display: none;
    }

    .brand h2 {
        font-size: 20px;
    }

    .produtos h2 {
        font-size: 24px;
    }

    .produto-grid {
        width: 100%;
        max-width: 300px;
    }

    .produto-grid p {
        font-size: 16px;
    }

    .pq-zuno h2 {
        font-size: 24px;
        margin-bottom: 50px;
    }

    .pq-zuno-container {
        display: flex;
        flex-direction: column;
    }

    .pq-zuno-grid {
        margin: auto;
        max-width: 300px;
    }

    .pq-zuno-grid p {
        font-size: 16px;
    }

    .produto-em-foco {
        flex-direction: column;
        height: 600px;
    }

    .produto-em-foco .imagem-container {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .produto-em-foco .imagem-container img {
        fit-content: cover;
    }

    .produto-em-foco .textos {
        margin: 20px;
        max-width: 300px;
    }

    .produto-em-foco .textos p {
        font-size: 16px;
    }

    .tecnologia .titulo-tecnologia h2 {
        font-size: 24px;
    }

    .tecnologia .titulo-tecnologia h3 {
        font-size: 16px;
    }

    .tecnologia-container {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .tecnologia-container .tecnologia-grid {
        margin: 0px;
        height: auto;
        max-width: 250px;
    }

    .tecnologia-grid .textos {
        max-width: 300px;
        margin-bottom: 0px;
    }

    .tecnologia-grid .textos p {
        font-size: 16px;
    }

    .tecnologia-grid img {
        width: 100%;
    }

    .depoimentos-container .depoimentos-grid p {
        font-size: 16px;
    }

    .sobre {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        padding: 40px 20px;
        border-radius: 10px;
    }

    .sobre h2 {
        font-size: 24px;
    }

    .sobre-container {
        max-width: 300px;
        justify-content: center;
    }

    .sobre-container img {
        display: none;
    }

    .sobre .sobre-container .textos {
        margin: 0;
    }

    .sobre .sobre-container .textos p {
        font-size: 16px;
    }

    .cta-final h2 {
        font-size: 24px;
    }

    .cta-final p {
        font-size: 16px;
    }
}

@media (max-width: 321px) {
    .tecnologia-container .tecnologia-grid {
        max-width: 225px;
    }
}